# General settings
BATTLE_DURATION = 150
UPDATES_INTERVAL = 10
SEND_UPDATE_MESSAGES_INTERVAL = 200
RECORD_BATTLE = false
EVALUATE_BATTLE = false

# Map
MAP_FILE = res/map.config
BACKGROUND_IMAGE_FILE = res/background.jpg
TILE_IMAGE_FILE = res/tile.png
TILE_SIZE={"32","32"}

# Agents
AGENT_FILE = res/agent.config
AGENT_QUEUE_MAX_SIZE = 100
AGENT_IMAGE_FILE = res/agent.png
AGENT_IMAGES_COUNT = 12
AGENT_IMAGES_DELAY = 30
AGENT_EXPLOSION_IMAGE_FILE = res/agent_explosion.png
AGENT_EXPLOSION_IMAGES_COUNT = 16
AGENT_EXPLOSION_IMAGES_DELAY = 50

# Projectiles
PROJECTILE_IMAGE_FILE = res/projectile.png
PROJECTILE_IMAGES_COUNT = 1
PROJECTILE_IMAGES_DELAY = 100
PROJECTILE_EXPLOSION_IMAGE_FILE = res/projectile_explosion.png
PROJECTILE_EXPLOSION_IMAGES_COUNT = 16
PROJECTILE_EXPLOSION_IMAGES_DELAY = 20